<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="hubs">

			<flux:form.sheet name="category" label="Category">
				<flux:field.select label="Category" name="settings.category" items="{
					mk: 'Medizinische Kompetenz',
					fk: 'Fokus',
					ak: 'Aktuell',
					ar: 'Artikel',
					si: 'Schwerpunkt Interdisziplinarität',
					iv: 'Im Video',
					in: 'Information'
				}" />
			</flux:form.sheet>


			<flux:form.sheet name="links" label="Links">
				<flux:field.input name="settings.link" label="Link">
					<flux:wizard.link activeTab="Page" />
				</flux:field.input>
				<flux:field.input name="settings.linktext" maxCharacters="32" label="Linktext"/>
			</flux:form.sheet>

			<flux:form.sheet name="Text" label="Text">
				<flux:field.text name="settings.teasertext" label="Whatever" enableRichText="1" />
			</flux:form.sheet>

			<flux:form.sheet name="Image" label="Image">
				<flux:field.file name="settings.images" multiple="FALSE" maxItems="1" label="Image"/>
			</flux:form.sheet>

			<flux:form.sheet name="EmbedVideo" label="Embedded Video">
				<flux:field.input name="settings.videoid" label="Video ID"/>
			</flux:form.sheet>

		</flux:form>
	</f:section>

	<f:section name="Preview">

		Text: {settings.teasertext} <br />

		Linktext: {settings.linktext}

	</f:section>

	<f:section name="Main">
		<div class="tx-dce-pi1">
			<f:if condition="{settings.images}">
				<div class="hubpicture">
					<f:image src="{settings.images}" width="460c" height="auto" />
				</div>
			</f:if>
			<f:if condition="{settings.videoid}">
				<div class="hubvideo">
					<iframe src="https://player.vimeo.com/video/{settings.videoid}" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0" height="300" width="100%"></iframe>
				</div>
			</f:if>
			<div class="hubcontent">
				<div class="section {settings.category}">
					<f:if condition="{settings.category} == 'mk'">
						{f:translate(id: 'flux.category.mk')}
					</f:if>
					<f:if condition="{settings.category} == 'fk'">
						{f:translate(id: 'flux.category.fk')}
					</f:if>
					<f:if condition="{settings.category} == 'ak'">
						{f:translate(id: 'flux.category.ak')}
					</f:if>
					<f:if condition="{settings.category} == 'ar'">
						{f:translate(id: 'flux.category.ar')}
					</f:if>
					<f:if condition="{settings.category} == 'si'">
						{f:translate(id: 'flux.category.si')}
					</f:if>
					<f:if condition="{settings.category} == 'iv'">
						{f:translate(id: 'flux.category.iv')}
					</f:if>
					<f:if condition="{settings.category} == 'in'">
						{f:translate(id: 'flux.category.in')}
					</f:if>
				</div>
				<h3 class="headline">
					<v:tag name="h{settings.content.settings.header.type -> v:or(alternative: record.header_layout) -> v:or(alternative: settings.header.type)}"
						   class="{settings.content.settings.header.className}" hideIfEmpty="{settings.content.settings.header.hideIfEmpty -> v:or(alternative: 1)}">
						{record.header -> f:format.raw()}
					</v:tag>
				</h3>
				<div class="text">
					<f:if condition="{settings.teasertext}">
						<f:format.html>{settings.teasertext}</f:format.html>
					</f:if>
					<f:if condition="{settings.link}">
						<div class="hublink">
							<f:link.page pageUid="{settings.link}" title="{settings.linktext}" class="readmore">{settings.linktext}</f:link.page>
						</div>
					</f:if>
				</div>
			</div>
		</div>
	</f:section>
</div>
