<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="{v:extension.loaded(extensionName: 'fluidcontent_core', then: 'ContentCore', else: 'Content')}" />

	<f:section name="Configuration">
		<flux:form id="example" options="{group: 'FCE'}">
			<!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:flexform tag -->

			<flux:field.input name="settings.headline" required="true"/>

			<flux:field.inline.fal name="settings.images" multiple="FALSE" maxItems="1" />

			<flux:field.text name="settings.teasertext" rows="5" cols="30" required="TRUE" />

			<flux:field.select label="yyy" name="settings.category" items="{
				mk: 'Medizinische Kompetenz',
                fk: 'Fokus',
                ak: 'Aktuell',
                ar: 'Artikel',
                si: 'Schwerpunkt Interdisziplinarität',
                iv: 'Im Video',
                in: 'Information'
            }" />


		</flux:form>
	</f:section>

	<f:section name="Main">
		<div class="tx-dce-pi1">


			<div class="hubpicture">
				<f:for each="{v:content.resources.fal(field: 'settings.images')}" as="image">
					<f:image treatIdAsReference="TRUE" src="{image.id}" alt="{image.title}" title="{f:if(condition: image.description, then: '{image.title}: ', else: '{image.title}')}{image.description}" />
				</f:for>
			</div>
			<div class="hubcontent">
				<div class="section {settings.category}">
					{settings.category}
				</div>
				<h3 class="headline">
					{settings.headline}
				</h3>
				<div class="text">
					<p>Das Bauchzentrum wendet sämtliche endoskopischen Untersuchungen und Methoden der Funktionsdiagnostik an und führt alle Operationen des Magendarm-Traktes, der Hormonorgane und der Adipositas durch.</p>
					<div class="hublink">

					</div>
				</div>
			</div>
		</div>
	</f:section>
</div>
